MCMCoutput.html
b0.png
b0.transect[10].png
b0.transect[11].png
b0.transect[12].png
b0.transect[13].png
b0.transect[14].png
b0.transect[15].png
b0.transect[1].png
b0.transect[2].png
b0.transect[3].png
b0.transect[4].png
b0.transect[5].png
b0.transect[6].png
b0.transect[7].png
b0.transect[8].png
b0.transect[9].png
b6[2].png
b6[3].png
b6[4].png
b6[5].png
b[1].png
b[2].png
b[3].png
b[4].png
b[5].png
deviance.png
sig.transect.png
