mod2dailyGOFsamples.RDS
mod2GOFsamples.RDS
mod3GOFsamples.RDS
mod1dailyGOFsamples.RDS
mod1GOFsamples.RDS
mod1_yyrepp_df.RDS
mod1daily_yyrepp_df.RDS
mod2_yyrepp_df.RDS
mod2daily_yyrepp_df.RDS
mod3_yyrepp_df.RDS
